<div class="col-sm-6">
    <div class="card">
            <div class="card-header">
              <strong>Send Notification</strong> 
            </div>
            <form action="" class="form-horizontal ng-untouched ng-pristine ng-valid" enctype="multipart/form-data" method="post" novalidate="">
            <div class="card-body">
               <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Notification Title</label>
                  <div class="col-md-9">
                    <input class="form-control" id="text-input" name="text-input" placeholder="Title" type="text">
                    <span class="help-block">Notification title</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="textarea-input">Notification Content</label>
                  <div class="col-md-9">
                    <textarea class="form-control" id="textarea-input" name="textarea-input" placeholder="Content.." rows="9"></textarea>
                  </div>
                </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-primary" type="submit"> Submit</button>
            </div>
        </form>
          </div>
</div>