<div style="margin-top: 4%; margin-left: 15%">
    <img src="assets/img/logo.png" class="img-avatar" alt="#" />
  </div>
  <div class="app-body" style="margin-top: 9%;">
      <main class="main d-flex align-items-center">    
        <div class="container">
          <div class="row">
            <div class="col-md-8 mx-auto">
              <div class="card-group">
                <div class="card p-4">
                  <div class="card-body">
                    <form #loginForm=ngForm (ngSubmit)="onSubmit()">
                      <h1>Login</h1>
                      <p class="text-muted">Sign In to your account</p>
                      <div class="alert alert-danger" [hidden]="!error">
                        {{error}}
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-user"></i></span>
                        </div>
                        <input type="text" name="email" class="form-control" placeholder="email" autocomplete="email" [(ngModel)]="form.email" required>
                      </div>
                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-lock"></i></span>
                        </div>
                        <input type="password" name="password" class="form-control" placeholder="Password" autocomplete="current-password" [(ngModel)]="form.password" required>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <button type="submit" class="btn btn-primary px-4" [disabled]="!loginForm.valid">Login</button>
                        </div>
                        <div class="col-6 text-right">
                          <button type="button" class="btn btn-link px-0">Forgot password?</button>
                        </div>
                        <div class="card-body text-center">
                        <button type="button" class="btn btn-primary active mt-3"  [routerLink]="['/auth/register']">Register Now!</button>
                      </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    